# dev tools + os
.idea
.vscode
.devcontainer
.directory
.code-workspace
.eslintcache
.env.*
.env
.DS_Store
*.mo

# python
*.pyc
.mypy_cache
app.bycco.be.tgz

# javascript
.output
.data
.nuxt
.nitro
.cache
dist
*.css.map
node_modules
yarn-error.log
yarn.lock

# share
share/secrets
__pycache__
local_settings.py
.env