ul,
ol {
  display: block;
  list-style: disc outside none;
  margin: 1em 0;
  padding: 0 0 0 40px;
}

ol {
  list-style-type: decimal;
}

li {
  display: list-item;
}

ul ul,
ol ul {
  list-style-type: circle;
  margin-left: 15px;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  margin-left: 15px;
}

.makrdowncontent td,
.makrdowncontent th {
  padding: 8px;
  border: 1px solid #ddd;
}

.markdowncontent table {
  border-collapse: collapse;
}

ul,
ol,
.markdowncontent h2,
.markdowncontent h3 {
  margin-bottom: 0.5em;
}