<div style="float: right;"> 
 <img src="/static/img/kbsb.png">
</div>

<br/><br/>
**Koninklijke Belgische Schaakbond**

Maatschappelijke zetel

131 Rue Frans Vekemansstraat 131<

1120 Neder-Over-Heembeek</p>

**Postadres**

14 boîte 1 Rue Jules Hans

1420 Braine-l’Alleud

<br/><br/>
## Attest deelname

Mevrouw, Mijnheer,

<br/>

Hierbij bevestigen we dat {{first_name}} {{last_name}} aan het Belgisch Kampioenschap Schaken heeft deelgenomen en dus op vrijdag 12 november 2021 in het toernooi aanwezig was.

Hartelijk dank voor uw bereidheid om hem / haar de gelegenheid te geven aan het toernooi deel te nemen.

Met vriendelijke groet

![KBSB](/static/img/philippe.png)


Philippe Vukojevic

Koninklijke Belgische Schaakbond

jeugd/communicatie

(e) [philippe.vukojevic@frbe-kbsb-ksb.be](mailto:philippe.vukojevic@frbe-kbsb-ksb.be)

(m) +32 497 166 31
