



<div style="float: right;"> 
 <img src="/static/img/kbsb.png">
</div>

<br/><br/>
**Fédération royale belge des échecs**

Siège social

131 Rue Frans Vekemansstraat 131

1120 Neder-Over-Heembeek

Adresse postale

14 boîte 1 Rue Jules Hans

1420 Braine-l’Alleud

<br/><br/>

## Attestation participation

Madame, Monsieur

<br/>

Par la présente, je confirme que {{first_name}} {{last_name}} a participé aux Championnats de Belgique d’échecs pour la Jeunesse et qu’il – elle était donc bien présent·e au tournoi le vendredi 12 novembre 2021.

Nous vous remercions de votre volonté de lui avoir donné l’opportunité de participer au tournoi.

Bien à vous

![KBSB](/static/img/philippe.png)

Philippe Vukojevic

Fédération royale belge des échecs

jeunesse/communication

(e) [philippe.vukojevic@frbe-kbsb-ksb.be](mailto:philippe.vukojevic@frbe-kbsb-ksb.be) 

(m) +32 497 166 318

