<div style="float: right;"> 
 <img src="/static/img/kbsb.png">
</div>

<br/><br/>

**Königlicher Schachbund Belgiens**

Hauptsitz

131 Rue Frans Vekemansstraat 131

1120 Neder-Over-Heembeek

**Postadresse**

14 boîte 1 Rue Jules Hans

1420 Braine-l’Alleud

<br/><br/>

## Teilnahmebescheinigung

Sehr geehrte Damen und Herren

<br/>

Ich bestätige hiermit, dass {{first_name}} {{last_name}} an den belgischen Jugendschachmeisterschaften teilgenommen hat und dass er/sie daher am Freitag, den 12. November 2021, beim Turnier anwesend war.

Wir danken Ihnen für Ihre Bereitschaft, ihm/ihr die Teilnahme an dem Turnier zu ermöglichen.

Mit freundlichen Grüßen

![KBSB](/static/img/philippe.png)

Philippe Vukojevic

Königlicher Schachbund Belgiens

Jugend/Kommunikation

(e) [philippe.vukojevic@frbe-kbsb-ksb.be](mailto:philippe.vukojevic@frbe-kbsb-ksb.be)

(m) +32 497 166 318
